@import '../../../../../assets/styles/partials/variables';

.searchform {
  width: 100%;
  text-align: center;
  display: inline-block;
  margin: 1rem auto;
  width: 100%;

  .search-title {
    font-weight: 500;
    font-size: 1.25rem;
  }

  .search-query {
    width: 21rem;
    display: block;
    margin: auto;
    background: $highlightColour;
    padding: 10px;
    border-radius: 10px;
    border: 0 none;
  }
}
